<div *ngIf="events.length; else empty">
  <div class="form-control">
    <input type="text" placeholder="Find event" [(ngModel)]="searchStr">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>TimepadAPI index</th>
      <th>Title</th>
      <th>Starts At</th>
      <th>Organization</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events | searchEvents:searchStr; let id = index">
      <td>{{ id + 1 }}</td>
      <td>{{ event.id }}</td>
      <td>{{ event.name }}</td>
      <td>{{ event.starts_at | date:'short':null:'ru' }}</td>
      <td>{{ event.organization['name'] }}</td>
      <td>
        <button class="btn btn-link" [routerLink]="['/admin', 'event', event.id, 'edit']">Open </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #empty>
  <p class="text-center">List is loading or empty</p>
</ng-template>
